extends app

block intro
  form.namecard-form(action='/signin', method='post')
    label.namecard-prompt Plese enter your name:
      input.namecard-name(type='text', name='username')
    button.namecard-submit(type='submit') Submit